sff-x-api/target/META-INF/mule-src/sff-x-api/src/main/mule/impl-account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="impl-accountFlow" doc:id="f7a6a3d3-b073-4a37-94ee-353834de1889" >
		<flow-ref doc:name="Save-input" doc:id="85096898-099f-4881-a829-3280b6facdb7" name="commonFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="38bce4b4-ae9f-423a-a1df-6335e25765b7" message="#[payload]"/>
		<http:request method="GET" doc:name="Request" doc:id="6d926d93-6aa9-40d5-bb9a-5ec0891403e9" config-ref="HTTP_Request_configuration" path="/account/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
